body {
  background-color: #382344;
  color: white;
  font-family: "Verdana", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 70%;
  max-width: 800px;
  background: #442b56;
  padding: 30px;
  border-radius: 80px;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 15px 0;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.section {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid white
}

.education, .skills, .portfolio {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.nav {
  list-style-type: none;
  padding: 10px 0;
  justify-content: center;
  margin: 0;
  background-color: #2a1a35;
  display: flex;
  position: fixed;
  gap: 20px;
  border-radius: 10px;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: white;
  background-color: #2a1a35;
  border-radius: 10px;
  transition: background 0.3s;
}

.nav a:hover {
  background-color: #4c2f5a;
  border-radius: 5px;
}

.dropdown {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #4c2f5a;
  min-width: 200px;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
  z-index: 1; 
}

.dropdown-section:hover .dropdown {
  position: relative;
}

.dropdown li {
  display: block;
}

.dropdown li a {
  padding: 10px 15px;
  background-color: #4c2f5a;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

.dropdown li a:hover {
  background-color: #6a3e7a;
}
