body {
  background-color: #382344;
  color: white;
  font-family: "Verdana", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 60%
  background: #442b56;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

h1, h2, h3, h4, h5, p {
  margin: 10px 0;
}

h1 {
  text-align: center;
  font-size: 36px
}

h3 {
  text-align: center;
  font-size: 18px;
}

.section {
  margin-bottom: 20px
}

.education, .skills, .portfolio {
  border-bottom: 1px solid white;
  padding-bottom: 10px
}
