body {
  background-color: #382344;
  text-align: center;
  color: white;
  font-family: "Verdana", serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.nav {
  list-style-type: none;
  padding: 10px 0;
  justify-content: center;
  margin: 0;
  background-color: #2a1a35;
  display: flex;
  border-radius: 10px;
}

.nav li {
  position: relative;
}

.nav a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: white;
  background-color: #2a1a35;
  border-radius: 10px;
  transition: background 0.3s;
}

.nav a:hover {
  background-color: #4c2f5a;
}

.dropdown {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #4c2f5a;
  min-width: 200px;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
  z-index: 1; 
}

.dropdown-section:hover .dropdown {
  display: block;
}

.dropdown li {
  display: block;
}

.dropdown li a {
  padding: 10px 15px;
  background-color: #4c2f5a;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

.dropdown li a:hover {
  background-color: #6a3e7a;
}

h5 {
  color: #ffffff;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border: 1px solid #d1d5da;
  font-size: 50%;
}
