body {
  background-color: #382344;
  color: white;
  font-family: "Verdana", serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0:
  color: white;
}

h2 {
  text-align: left;
  font-size: 25px;
  margin: 0;
  color: white;
}

h3 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: white;
}

h4 {
  text-align: left;
  font-size: 18px;
  margin: 0;
  color: white;
}

h5 {
  text-align: right;
  font-size: 18px;
  margin: 0;
  color: white;
}

p {
  text-align: left;
  font-size: 14px
  margin: 0;
  color: #ccd1d1;
}
